<div ng-controller="weather" ng-style="weather.day ? {'background-color': '#ccffff'} : {'background-color': '#0099ff'}">
    <div id="search-component">
        <input ng-model="city" type="text" placeholder="City" list="search_results_list" ng-change="search_city()">
        <datalist id="search_results_list">
            <option ng-repeat="i in search_results">{{ i.name }}</option>
        </datalist>
    </div>
    <button ng-click="get_info()">Procurar</button>
    
    <p>{{ response }}</p>
    <div id="weather-info">
        <img src="{{ weather.icon }}">
        <h2>{{ weather.temperature_c }}</h2>
    </div>
</div>